* {
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}


:root{

    --clr-primary-100: #F3EED9;
    --clr-primary-200: #222C2A;
    --clr-primary-300: #824936;


    --clr-accent-100: #F3EED9;
    --clr-accent-200: #222C2A;
    --clr-accent-300: #824936;

    --font-family-heading:  'Playfair Display', serif;
    --font-family-body: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family-body);
}

.container {
    padding: 5rem;
}

.title {
    background-color: var(--clr-primary-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    padding-top: 10em;
    padding-bottom: 10em;

}

.title p {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 4px;
}

.main-title {
    font-family: var(--font-family-heading);
    font-size: 45px;
    color: var(--clr-accent-300);
    max-width: 38rem;
}

.sub-title {
    font-family: var(--font-family-heading);
    color: var(--clr-accent-300);
    font-size: 32px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8em;

    /* border: 2px solid red; */
}

.info {
    max-width: 30em;
    line-height: 1.5;
    color: var(--clr-accent-200);
}

.img-section-1 {
    background-color: var(--clr-primary-200);
}

.img-section-1.left {
    color: #fff
}

.text-info {
    align-self: flex-start;
}

.text-info .sub-title {
    color: var(--clr-accent-100);
    text-align: left;
}

.text-info .info {
    color: var(--clr-accent-100);
}

.img-section-2 {
    background-color: var(--clr-primary-300);
}

.info {
    padding-top: 1rem;
    max-width: 42rem;
}
